NODE_ENV=production
PORT=3001
PUBLIC_APP_URL=https://hkr-landing.southneuhof.tech
DATABASE_URL=postgresql://hkr_landing:replace_me@127.0.0.1:54432/hkr_landing
PUBLIC_RECAPTCHA_SITEKEY=replace_me
RECAPTCHA_SECRETKEY=replace_me
