NODE_ENV=production
PORT=3001
PUBLIC_APP_URL=https://hkr-landing.southneuhof.tech
BETTER_AUTH_URL=https://hkr-landing.southneuhof.tech
BETTER_AUTH_TRUSTED_ORIGINS=https://admin-hkr.southneuhof.tech
BYPASS_ALL_PERMISSIONS=false
DATABASE_URL=postgresql://hkr_landing:replace_me@127.0.0.1:54432/hkr_landing
PUBLIC_RECAPTCHA_SITEKEY=replace_me
RECAPTCHA_SECRETKEY=replace_me
