DATABASE_URL="YOUR_DATABASE_URL"
PUBLIC_RECAPTCHA_SITEKEY="YOUR_RECAPTCHA_SITEKEY"
RECAPTCHA_SECRETKEY="YOUR_RECAPTCHA_SECRETKEY"

# Sitekey for testing: 6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
# Secretkey for testing: 6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe