.dark {
  --md-sys-color-primary: 242 241 237;
  --md-sys-color-surface-tint: 242 241 237;
  --md-sys-color-on-primary: 18 18 17;
  --md-sys-color-primary-container: 47 46 43;
  --md-sys-color-on-primary-container: 242 241 237;
  --md-sys-color-secondary: 199 197 191;
  --md-sys-color-on-secondary: 35 34 32;
  --md-sys-color-secondary-container: 57 56 52;
  --md-sys-color-on-secondary-container: 234 232 226;
  --md-sys-color-tertiary: 194 200 180;
  --md-sys-color-on-tertiary: 36 41 31;
  --md-sys-color-tertiary-container: 56 62 49;
  --md-sys-color-on-tertiary-container: 225 231 211;
  --md-sys-color-error: 255 180 171;
  --md-sys-color-on-error: 105 0 5;
  --md-sys-color-error-container: 147 0 10;
  --md-sys-color-on-error-container: 255 218 214;
  --md-sys-color-background: 0 0 0;
  --md-sys-color-on-background: 238 237 232;
  --md-sys-color-surface: 0 0 0;
  --md-sys-color-on-surface: 238 237 232;
  --md-sys-color-surface-variant: 29 29 27;
  --md-sys-color-on-surface-variant: 174 172 166;
  --md-sys-color-outline: 131 129 124;
  --md-sys-color-outline-variant: 54 53 50;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 242 241 237;
  --md-sys-color-inverse-on-surface: 28 27 25;
  --md-sys-color-inverse-primary: 47 46 43;
  --md-sys-color-primary-fixed: 228 226 220;
  --md-sys-color-on-primary-fixed: 28 27 25;
  --md-sys-color-primary-fixed-dim: 199 197 191;
  --md-sys-color-on-primary-fixed-variant: 70 68 64;
  --md-sys-color-secondary-fixed: 232 230 224;
  --md-sys-color-on-secondary-fixed: 31 30 28;
  --md-sys-color-secondary-fixed-dim: 205 203 197;
  --md-sys-color-on-secondary-fixed-variant: 73 71 67;
  --md-sys-color-tertiary-fixed: 226 230 216;
  --md-sys-color-on-tertiary-fixed: 31 35 27;
  --md-sys-color-tertiary-fixed-dim: 198 203 188;
  --md-sys-color-on-tertiary-fixed-variant: 70 76 62;
  --md-sys-color-surface-dim: 0 0 0;
  --md-sys-color-surface-bright: 35 35 33;
  --md-sys-color-surface-container-lowest: 0 0 0;
  --md-sys-color-surface-container-low: 13 13 12;
  --md-sys-color-surface-container: 19 19 18;
  --md-sys-color-surface-container-high: 25 25 24;
  --md-sys-color-surface-container-highest: 33 33 31;
}
