@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '@southneuhof/landing-sveltekit-framework/styles/framework.css';

@layer theme, base, components, utilities;
@import 'tailwindcss';
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@config "../tailwind.config.js"; 

@theme {
  --font-sans: 'Montserrat', system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --gap-xs: 0.25rem;
  --gap-sm: 0.5rem;
  --gap-base: 1rem;
  --gap-lg: 2rem;
  --gap-xl: 4rem;
  --colors-surface: #FFF9F5;
  --colors-on-surface: #111F55;
  --colors-outline: #656E95;
  --colors-outline-variant: #CDC9C9;
}



@layer base {
  button:not(:disabled), [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .overlay {
    position: relative;
  }

  .overlay::before {
    content: '';
    position: absolute;
    inset: 0;
    /* background-color: rgb(88, 88, 224); */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
    z-index: 0;
    border-radius: inherit;
  }

  .overlay:hover::before {
    opacity: 1;
  }

  .overlay > * {
    position: relative;
    z-index: 10;
  }
}

@layer components {
  /* .overlay {
    position: relative;
  }
  .overlay::before {
    content: '';
    @apply absolute inset-0 bg-black/20 opacity-0 transition duration-300 pointer-events-none;
  }
  .overlay:hover::before {
    opacity: 1;
  } */

  
  
  hr {
    @apply border-black/[20%] dark:border-black/[20%] w-full;
  }

  .rtf-content h1 {
    @apply text-4xl font-semibold m-[revert]
  }

  .rtf-content h2 {
    @apply text-3xl font-semibold m-[revert]
  }

  .rtf-content h3 {
    @apply text-2xl font-semibold m-[revert]
  }

  .rtf-content h4 {
    @apply text-xl font-semibold m-[revert]
  }

  .rtf-content td:not(:first-child):not(:last-child) {
    @apply px-4;
  }

  .rtf-content td {
    @apply lg:whitespace-nowrap lg:max-w-fit align-top;
  }

  .rtf-content ol {
    @apply list-decimal flex flex-col gap-2
  }

  .rtf-content ul {
    @apply list-disc flex flex-col gap-2
  }

  .rtf-content img {
    @apply inline
  }

  .rtf-content p {
    /* @apply m-[revert] */
  }

  .rtf-content.m-base p {
    @apply m-0
  }

  .rtf-content br {
    @apply m-[revert]
  }

  .rtf-content.special-numbering li {
    min-height: 40px;
  }

  .rtf-content iframe {
    @apply inline-flex max-w-full
  }

  .rtf-content.special-numbering ol > li:before {
    background-color: rgba(246, 247, 251, 1);
    width: 32px;
    font-size: large;
    font-weight: 700;
    aspect-ratio: 1 / 1;
    display: flex;
    position: absolute;
    left: -40px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    content: counter(list-item) ". ";
    counter-increment: index;
  }
  .rtf-content.special-numbering li:first-child {
    counter-reset:index;
  }

  .rtf-content.special-numbering ol li {
    list-style: none;
  }

  .rtf-content ol {
    @apply list-decimal flex flex-col gap-2
  }

  .rtf-content li {
    @apply ml-4
  }

  .rtf-content ul {
    @apply list-disc flex flex-col gap-2
  }

  iframe {
    @apply max-w-full
  }
}

@theme inline {
  --animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}
 
	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

.grecaptcha-badge { 
  visibility: hidden !important;
}
